* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea {
    width: 100;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}

fieldset {
    background-color: #fff;
    border: 1px solid #ccc;
}

.main_heading {
    text-align: center;
}

input[type="submit"] {
    background-color: rgb(7, 134, 92);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
}

input[type="submit"]:hover {
    background-color: #4ca84c;
}

/* Is se wo instruction line halki ho jayegi */
form p:first-of-type {
    font-size: 14px;
    color: #666;
    font-style: italic;
}

/* Is se star (*) ka rang laal ho jayega jo professional lagta hai */
p:has(input[required])::after,
p:contains("*") {
    color: red;
}